<%= form_for @student do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :size => 20 %>
  </div>
  <div class="field">
    <%= f.label :profile %>
    <%= f.text_field :profile, :size => 100 %>
  </div>
  <div class="field">
    <%= f.label :mentor %>
    <%= f.text_field :mentor, :size => 20 %>
  </div>
  <div class="field">
    <%= f.label :grade %>
    <%= f.text_field :grade, :size => 5 %>
  </div>
  <%= f.submit "編集する" %>
  <%= link_to "Student一覧に戻る", students_path %>
<% end %>